<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error - GI</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
    </header>

    <main>
      <h2>An error occurred</h2>
      <p><%= errorMsg %></p>
      <a href="/">Go Back</a>
    </main>

    <footer>
      <p>Someday I'll have a titan. &copy; 2025</p>
    </footer>
  </body>
</html>
