<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile - GI</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/auth/logout">Logout</a>
      </nav>
    </header>

    <main>
      <h2>Profile</h2>
      <p>Email: <%= user.email %></p>

      <% if (user.profilePicture) { %>
        <div class="profile-picture-container">
          <img src="<%= user.profilePicture %>" alt="Profile Picture">
        </div>
      <% } else { %>
        <p>No profile picture</p>
      <% } %>

      <!-- Форма для загрузки и удаления фото -->
      <form action="/profile?_method=PUT" method="POST" enctype="multipart/form-data" class="profile-form">
        <label>Upload new profile picture</label>
        <input type="file" name="profilePicture">

        <div class="button-group">
          <button type="submit" class="update-btn">Update Profile</button>
          <% if (user.profilePicture) { %>
            <button type="submit" formaction="/profile/delete-picture?_method=DELETE" class="delete-btn">Delete Profile Picture</button>
          <% } %>
        </div>
      </form>
    </main>

    <footer>
      <p> Someday I'll have a titan.&copy; 2025</p>
    </footer>
  </body>
</html>
